<button (click)="addEmp()">Add Emp</button>
<button (click)="addDept()">Add Dept</button>
<button (click)="onStart()">Start</button>
<button (click)="onStop()">Stop</button>


<br>

Start: {{appService.start}}

<br>

<div class="card" *ngFor="let i of getEmp()">
  {{i.emp}} <br>
  <span *ngFor="let x of filterAsPerEmp(i.emp)">
    {{x}}
  </span>
</div>

<br>
<br>

<div class="card" *ngFor="let i of getDept()">
  {{i.dept}} <br>
  <span *ngFor="let x of filterAsPerDept(i.dept)">
    {{x}}
  </span>
</div>